<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= class_name %></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/light.css">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link href="/stylesheets/filepond.css" rel="stylesheet" />
    <link href="/stylesheets/filepond-plugin-image-preview.css" rel="stylesheet" />
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>

    <style>
        /* partial nav */
        #nav{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .profile h2{
            margin-top: 2px;
        }
        #logout{
            background-color: rgb(140, 255, 192);
        }
        /* end of nav partial */
        .modal {
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            opacity: 0;
            visibility: hidden;
            transform: scale(1.1);
            transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
        }
        .modal-content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: white;
            padding: 1rem;
            width: 24rem;
            border-radius: 0.5rem;
            padding-bottom: 2.5rem;
        }

        .show-modal {
            opacity: 1;
            visibility: visible;
            transform: scale(1.0);
            transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
        }
        #drag-drop-area{
            margin-bottom: 20px;
        }
        .filepond--root {
            max-height: 300px;
        }
        mark {
            margin: 0 -0.4em;
            padding: 0.1em 0.4em;
            border-radius: 0.8em 0.3em;
            background: transparent;
            background-image: linear-gradient(
                to right,
                rgba(30, 131, 47, 0.1),
                rgba(153, 244, 170, 0.7) 4%,
                rgba(179, 255, 190, 0.3)
            );
            -webkit-box-decoration-break: clone;
            box-decoration-break: clone;
        }
        #create{
            background-color: rgb(149, 255, 184);
        }
        #postbtn, #back-btn{
            background-color: rgb(140, 255, 192);
        }
    </style>
</head>
<body>
    <%- include('partials/navbar'); -%>
    <h1><mark><%= class_name %></mark></h1>
    <p>Class Code: <em style="color:coral;"><%= class_code %></em> </p>
    <%  if(is_teacher) {%>
        <button id="create">Post assignment / material</button>
        <script>
            let is_teacher = true;            
        </script>
    <% }else {%>
        <script>
         is_teacher = false;            
        </script>
        <% } %> 
    <hr>
    <!-- <h2>Assignments / Materials</h2> -->
    <select name="am" id="am">
        <option value="assignment">Assignment</option>
        <option value="material">Material</option>
    </select>
    <br>
    <div class="container-main">
    </div>
    <h3><mark>Members</mark></h3>
    <hr>
    <ul style="list-style-type: none;margin: 0;padding: 0;">
    <% members.forEach(function(m){ %>
        <li><img src=<%= m.avatar %> style="border-radius: 50%; height: 35px;vertical-align: middle;"> <%= `${m.first_name.charAt(0).toUpperCase() + m.first_name.slice(1)} ${m.last_name.charAt(0).toUpperCase() + m.last_name.slice(1)}` %>  <%  if(m.is_teacher) {%> <sup style="color:darkseagreen;border: 1px dashed ">Teacher</sup> <% }%></li>
        <br>
    <% }); %>
    </ul>
    <br>
    <a href="/dashboard"><button id="back-btn">< Go back</button></a>


    <div class="modal">
        <form class="modal-content" action="/assignments" method="POST" id="uploadform">
            <label for="text">Description:</label>
            <textarea name="text" placeholder="# Heading 1" id="text" required></textarea>
            <label for="drag-drop-area">Upload Files:</label>
            <input required type="file" name="files" id="drag-drop-area" multiple data-allow-reorder="true" data-max-file-size="5MB">
            <label for="choice">Choose a type: </label>
            <select name="choice" id="choice">
                <option value="material">Material</option>
                <option value="assignment">Assignment</option>
            </select>
            <div id="details">
            </div>
            <button type="button" class="close-button">Close</button>
            <button type="submit" id="postbtn">Post</button>
        </form>
    </div>    
    <script src="/javascripts/filepond-plugin-image-resize.min.js"></script>
    <script src="/javascripts/filepond-plugin-file-encode.min.js"></script>
    <script src="/javascripts/filepond-plugin-image-crop.min.js"></script>
    <script src="/javascripts/filepond-plugin-file-validate-size.min.js"></script>
    <script src="/javascripts/filepond-plugin-image-preview.min.js"></script>
    <script src="/javascripts/filepond.min.js"></script>

    <script>
        const createPost = document.getElementById("create");
        const modal = document.querySelector(".modal");
        const closeButton = document.querySelector(".close-button");
        let choice = document.getElementById("choice");
        let details = document.getElementById("details")
        const inputElement = document.getElementById("drag-drop-area")
        const uploadform = document.getElementById("uploadform");
        const container = document.getElementsByClassName("container-main")[0]
        const am = document.getElementById('am');

        function loadAssignment(){
            fetch("/assignments")
            .then(res => res.json())
            .then(assignments => {
                container.innerHTML = ""
                assignments.forEach((assignment)=>{
                container.innerHTML += `
                <article class="container-sub">
                <div class="container-top">
                    <div class="avatar">
                        <img src="${assignment.avatar}" style="border-radius: 50%; height: 35px;">
                        <h5>Posted by <mark>${assignment.first_name.charAt(0).toUpperCase() + assignment.first_name.slice(1)} ${assignment.last_name.charAt(0).toUpperCase() + assignment.last_name.slice(1)}</mark></h5>
                    </div>
                    <div class="marks-details">
                        <p>Full Marks: <strong>${assignment.full_marks}</strong></p>
                        <p>Posted on: <strong> ${`${dayjs(assignment.posted_on).format('MMM DD, YYYY') }`} </strong></p>
                    </div>
                </div>
                <div class="container-middle">
                    <div class="details">
                    ${assignment.info}
                    </div>
                    <div class="files">
                    ${
                        assignment.files.map((file)=>{                        
                            return `<a href="/uploads/${file}" download="${file.substring(9)}" class="link">
                                ${getFileType(file)}
                            </a>`
                        }).join("")
                    }
                    </div>
                </div>
                <div class="container-bottom">
                    ${is_teacher ? `<a href="/assignments/${assignment.assignment_id}/submissions"><button>View Submissions</button></a>` : `<a href="/assignments/${assignment.assignment_id}"><button>Upload Classwork</button></a>`}
                </div>
                </article>
                `
            })})
        }
        loadAssignment()
        function getFileType(file){
            if(["jpeg","png","gif","svg", "jpg"].includes(file.split('.').pop())){
            return `<div class="assignments">
                    <img src="/uploads/${file}" class="img">
                    <button type="button" class="file-download-btn">${file.substring(9)}</button>
                    </div>
                    `
            }else{
                return `<div class="assignments">
                        <img src="/images/file.svg"  class="img">
                        <button type="button" class="file-download-btn"> ${file.substring(9)}</button>
                        </div>
                        `
            }

        }
        
        FilePond.registerPlugin(
            FilePondPluginFileEncode,
            FilePondPluginImagePreview,
            FilePondPluginFileValidateSize,
            FilePondPluginImageResize,
            FilePondPluginImageCrop
        );
        const pond = FilePond.create(inputElement);
        pond.setOptions({
            maxFiles: 10,
            imageCropAspectRatio: '4:3',
        });

        choice.addEventListener('change',(e)=> {
            if(e.target.value == 'assignment'){
                details.innerHTML = `
                <label for="full_marks">Enter Full Marks:</label>
                <input type="number" name="full_marks" id="full_marks" value="100">
                <label for="date">Due date: </label>
                <input type="datetime-local" name="date" id="date" required>
                `
                let today = new Date().toISOString().slice(0, 16);
                document.getElementsByName("date")[0].min = today;
                // let today = new Date().toISOString().split('T')[0];
                // document.getElementsByName("date")[0].setAttribute('min', today);
            }else{
                details.innerHTML = ""
            }
        })
        
        function loadMaterial(){
            fetch("/materials")
            .then(res => res.json())
            .then(materials => {
                container.innerHTML = ""
                materials.forEach((material)=>{
                container.innerHTML += `
                <article class="container-sub">
                <div class="container-top">
                    <div class="avatar">
                        <img src="${material.avatar}" style="border-radius: 50%; height: 35px;">
                        <h5>Posted by <mark>${material.first_name.charAt(0).toUpperCase() + material.first_name.slice(1)} ${material.last_name.charAt(0).toUpperCase() + material.last_name.slice(1)}</mark></h5>
                    </div>
                    <div class="marks-details">
                        <p>Posted on: <strong> ${`${dayjs(material.posted_on).format('MMM DD, YYYY')}`} </strong></p>
                    </div>
                </div>
                <div class="container-middle">
                    <div class="details">
                    ${material.info}
                    </div>
                    <div class="files">
                    ${
                        material.files.map((file)=>{                        
                            return `<a href="/uploads/${file}" download="${file.substring(9)}" class="link">
                                ${getFileType(file)}
                            </a>`
                        })
                    }
                    </div>
                </div>
                </article>
                `
            })})
        }


        am.addEventListener('change',(e)=>{
            if(e.target.value == 'assignment'){
                loadAssignment();
            }else{
                loadMaterial();
            }
        })
        function toggleModal() {
            modal.classList.toggle("show-modal");
        }
        is_teacher ? createPost.addEventListener("click", toggleModal) : null;
        closeButton.addEventListener("click", toggleModal);
       
        </script>
</body>
</html>